.orange-background {
    background-color: orange;
}

.banner-add-paragraph {
    margin: 1rem 0;
}
.btn-stay-connect {
    border-radius: 0;
    color: #000000;
    margin: 1rem 0;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}
.full-width-container{
    margin:0;
    padding:0;
    min-width:100%;
}
.image-fluid {
    min-width:100%;
    display:block;
    object-fit:cover;
    height:300px;
}